In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:/df_2018-2019.csv', low_memory=False)

In [4]:
a = df['author'].value_counts().sort_index()
a.sort_values(ascending=False)

[deleted]               84978
freehouse_throwaway     17572
winkerpack              16096
love2fukmarriedwoman    14014
VacationLover1          13198
                        ...
TheUrinator5000             1
TheVBerlin                  1
TheVainOrphan               1
TheValleyant                1
UpsetAlarm                  1
Name: author, Length: 236095, dtype: int64

In [6]:
d = df['created_utc'] = pd.to_datetime(df['created_utc']).dt.date
d.value_counts().sort_index()

2018-01-01     898
2018-01-02    1576
2018-01-03    2117
2018-01-04    2227
2018-01-05    1944
              ...
2019-12-27    8001
2019-12-28    4131
2019-12-29    1847
2019-12-30    7413
2019-12-31    8348
Name: created_utc, Length: 730, dtype: int64

In [7]:
df.sort_values('score', ascending=False)

,Unnamed: 0,author,created_utc,body,score,subreddit
3611798,4155330,Nikandro,2019-09-10,How can he possibly make a profit with so few ...,11175.0,wallstreetbets
1481687,1720643,Comfortable_Dirt,2018-12-11,At first I misread you had a net loss of $850....,10941.0,wallstreetbets
3461369,3980438,bagdraggerdad,2019-08-24,How is this inside information if your outside?,10258.0,wallstreetbets
633441,742089,emanresu61,2018-07-26,1. Fuck You\n2. Save some money for taxes or y...,10128.0,wallstreetbets
1704950,1976243,guywhowantsadvice,2019-01-11,She got hotter \n\n,9147.0,wallstreetbets
...,...,...,...,...,...,...
120398,140302,pewdiepew2,NaN,You have all the maturity of wine bottled yest...,NaN,NaN
120402,140308,pewdiepew2,NaN,I thought of you all day today. I was at the zoo.,NaN,NaN
739538,866642,Frostfright,NaN,Tfw tcehy is your largest holding,NaN,NaN
910993,1065000,Bradley_Haran,NaN,&gt; Bezos could give all his shares to all th...,NaN,NaN
4051554,4650722,PressDtoDabonDiablo,NaN,NaN,NaN,NaN