In [41]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')
%matplotlib inline
import os
import functools as ft

import yfinance as yf


#Plotly Method Imports
import plotly # You can use matplotlib as well for these plots as well
import cufflinks as cf 
cf.go_offline()

# Import Price/Technical Dataset

In [42]:
start = datetime.datetime(2012, 1, 1) # START ON January 1 2017
end = datetime.date.today() # LOOK AT STOCKS TILL current date

tickers = ['KO','PEP']
df_map = {}

for tick in tickers:
    data_source='google'
    stock =yf.download(tick,start, end)
    df_map[tick] = stock

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [43]:
KO_PEP = pd.concat(df_map,axis = 1,keys = tickers)
# KO_PEP.columns.names = ['Stock Ticker','Stock Info']
# close_price = KO_PEP.xs(key='Close',axis=1,level='Stock Info')

KO_PEP.columns = ['KO_Open','KO_High','KO_Low','KO_Close','KO_AdjClose','KO_Volume',
                  'PEP_Open','PEP_High','PEP_Low','PEP_Close','PEP_AdjClose','PEP_Volume']
KO_PEP

,KO_Open,KO_High,KO_Low,KO_Close,KO_AdjClose,KO_Volume,PEP_Open,PEP_High,PEP_Low,PEP_Close,PEP_AdjClose,PEP_Volume
Date,,,,,,,,,,,,
2012-01-03,35.075001,35.355000,35.049999,35.070000,25.261475,15639600,66.860001,67.190002,66.360001,66.400002,48.919064,5348800
2012-01-04,34.955002,35.035000,34.750000,34.849998,25.103004,14239200,66.410004,66.839996,66.120003,66.739998,49.169556,6042400
2012-01-05,34.880001,34.935001,34.674999,34.685001,24.984156,14287600,66.580002,66.669998,66.120003,66.220001,48.786461,4909100
2012-01-06,34.735001,34.814999,34.310001,34.465000,24.825687,13646600,66.269997,66.269997,65.290001,65.389999,48.174969,6533000
2012-01-09,34.500000,34.584999,34.400002,34.465000,24.825687,10522600,65.260002,65.830002,65.010002,65.730003,48.425461,5859600
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18,62.520000,62.560001,61.509998,61.650002,61.650002,10780800,171.149994,171.240005,167.850006,168.259995,168.259995,3479700
2022-07-19,62.090000,62.650002,61.930000,62.529999,62.529999,10998200,170.250000,170.750000,168.630005,170.059998,170.059998,4201600
2022-07-20,62.400002,62.580002,61.150002,61.500000,61.500000,11010500,170.050003,170.570007,167.460007,168.259995,168.259995,3460700
2022-07-21,61.259998,61.880001,60.790001,61.360001,61.360001,11959600,167.990005,169.410004,167.559998,168.509995,168.509995,3088300
2022-07-22,61.380001,61.869999,61.320000,61.590000,61.590000,11637700,169.139999,170.570007,168.490005,169.610001,169.610001,3757800

## Stochastic Oscillator (%K) - warns of strength or weakness of market

In [44]:
#  https://www.learnpythonwithrune.org/pandas-calculate-the-stochastic-oscillator-indicator-for-stocks/
#  https://www.investopedia.com/terms/s/stochasticoscillator.asp

KO_PEP['KO_14-high'] = KO_PEP['KO_High'].rolling(14).max()
KO_PEP['KO_14-low'] = KO_PEP['KO_Low'].rolling(14).min()
KO_PEP['KO_%K'] = (KO_PEP['KO_Close'] - KO_PEP['KO_14-low'])*100/(KO_PEP['KO_14-high'] - KO_PEP['KO_14-low'])
KO_PEP['KO_%D'] = KO_PEP['KO_%K'].rolling(3).mean()

KO_PEP['PEP_14-high'] = KO_PEP['PEP_High'].rolling(14).max()
KO_PEP['PEP_14-low'] = KO_PEP['PEP_Low'].rolling(14).min()
KO_PEP['PEP_%K'] = (KO_PEP['PEP_Close'] - KO_PEP['PEP_14-low'])*100/(KO_PEP['PEP_14-high'] - KO_PEP['PEP_14-low'])
KO_PEP['PEP_%D'] = KO_PEP['PEP_%K'].rolling(3).mean()
KO_PEP

,KO_Open,KO_High,KO_Low,KO_Close,KO_AdjClose,KO_Volume,PEP_Open,PEP_High,PEP_Low,PEP_Close,PEP_AdjClose,PEP_Volume,KO_14-high,KO_14-low,KO_%K,KO_%D,PEP_14-high,PEP_14-low,PEP_%K,PEP_%D
Date,,,,,,,,,,,,,,,,,,,,
2012-01-03,35.075001,35.355000,35.049999,35.070000,25.261475,15639600,66.860001,67.190002,66.360001,66.400002,48.919064,5348800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-04,34.955002,35.035000,34.750000,34.849998,25.103004,14239200,66.410004,66.839996,66.120003,66.739998,49.169556,6042400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-05,34.880001,34.935001,34.674999,34.685001,24.984156,14287600,66.580002,66.669998,66.120003,66.220001,48.786461,4909100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-06,34.735001,34.814999,34.310001,34.465000,24.825687,13646600,66.269997,66.269997,65.290001,65.389999,48.174969,6533000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-09,34.500000,34.584999,34.400002,34.465000,24.825687,10522600,65.260002,65.830002,65.010002,65.730003,48.425461,5859600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18,62.520000,62.560001,61.509998,61.650002,61.650002,10780800,171.149994,171.240005,167.850006,168.259995,168.259995,3479700,64.449997,61.299999,11.111192,25.714348,173.320007,163.850006,46.567981,66.208957
2022-07-19,62.090000,62.650002,61.930000,62.529999,62.529999,10998200,170.250000,170.750000,168.630005,170.059998,170.059998,4201600,64.449997,61.299999,39.047633,29.418038,173.320007,165.330002,59.198905,60.845168
2022-07-20,62.400002,62.580002,61.150002,61.500000,61.500000,11010500,170.050003,170.570007,167.460007,168.259995,168.259995,3460700,64.449997,61.150002,10.606029,20.254951,173.320007,165.330002,36.670722,47.479203
2022-07-21,61.259998,61.880001,60.790001,61.360001,61.360001,11959600,167.990005,169.410004,167.559998,168.509995,168.509995,3088300,64.449997,60.790001,15.573779,21.742480,173.320007,165.330002,39.799631,45.223086
2022-07-22,61.380001,61.869999,61.320000,61.590000,61.590000,11637700,169.139999,170.570007,168.490005,169.610001,169.610001,3757800,64.180000,60.790001,23.598802,16.592870,173.320007,165.330002,53.566907,43.345753

## Larry William (%R) - indicator to spot overbought/oversold levels

In [45]:
# https://www.investopedia.com/terms/w/williamsr.asp
# https://medium.com/codex/algorithmic-trading-with-williams-r-in-python-5a8e0db9ff1f

KO_PEP['KO_%R'] = -100 * ((KO_PEP['KO_14-high'] - KO_PEP['KO_Close']) / (KO_PEP['KO_14-high'] - KO_PEP['KO_14-low']))
KO_PEP['PEP_%R'] = -100 * ((KO_PEP['PEP_14-high'] - KO_PEP['PEP_Close']) / (KO_PEP['PEP_14-high'] - KO_PEP['PEP_14-low']))

# RSI

In [46]:
# https://www.roelpeters.be/many-ways-to-calculate-the-rsi-in-python-pandas/

def rsi(df, column, periods = 14, ema = True):
    """
    Returns a pd.Series with the relative strength index.
    """
    close_delta = df[column].diff()

    # Make two series: one for lower closes and one for higher closes
    up = close_delta.clip(lower=0)
    down = -1 * close_delta.clip(upper=0)
    
    if ema == True:
	    # Use exponential moving average
        ma_up = up.ewm(com = periods - 1, adjust=True, min_periods = periods).mean()
        ma_down = down.ewm(com = periods - 1, adjust=True, min_periods = periods).mean()
    else:
        # Use simple moving average
        ma_up = up.rolling(window = periods, adjust=False).mean()
        ma_down = down.rolling(window = periods, adjust=False).mean()
        
    rsi = ma_up / ma_down
    rsi = 100 - (100/(1 + rsi))
    return rsi

# KO_PEP['KO_Close'] = KO_PEP['KO']['Close']
# KO_PEP['PEP_Close'] = KO_PEP['PEP']['Close']
KO_PEP['KO_RSI'] = rsi(df=KO_PEP, column='KO_Close')
KO_PEP['PEP_RSI'] = rsi(df=KO_PEP, column='PEP_Close')

In [47]:
KO_PEP = KO_PEP.reset_index().rename(columns={"Date": "dt"})
KO_PEP

,dt,KO_Open,KO_High,KO_Low,KO_Close,KO_AdjClose,KO_Volume,PEP_Open,PEP_High,PEP_Low,...,KO_%K,KO_%D,PEP_14-high,PEP_14-low,PEP_%K,PEP_%D,KO_%R,PEP_%R,KO_RSI,PEP_RSI
0,2012-01-03,35.075001,35.355000,35.049999,35.070000,25.261475,15639600,66.860001,67.190002,66.360001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-04,34.955002,35.035000,34.750000,34.849998,25.103004,14239200,66.410004,66.839996,66.120003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-01-05,34.880001,34.935001,34.674999,34.685001,24.984156,14287600,66.580002,66.669998,66.120003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-01-06,34.735001,34.814999,34.310001,34.465000,24.825687,13646600,66.269997,66.269997,65.290001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-01-09,34.500000,34.584999,34.400002,34.465000,24.825687,10522600,65.260002,65.830002,65.010002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2651,2022-07-18,62.520000,62.560001,61.509998,61.650002,61.650002,10780800,171.149994,171.240005,167.850006,...,11.111192,25.714348,173.320007,163.850006,46.567981,66.208957,-88.888808,-53.432019,44.056873,51.521367
2652,2022-07-19,62.090000,62.650002,61.930000,62.529999,62.529999,10998200,170.250000,170.750000,168.630005,...,39.047633,29.418038,173.320007,165.330002,59.198905,60.845168,-60.952367,-40.801095,50.186980,55.760698
2653,2022-07-20,62.400002,62.580002,61.150002,61.500000,61.500000,11010500,170.050003,170.570007,167.460007,...,10.606029,20.254951,173.320007,165.330002,36.670722,47.479203,-89.393971,-63.329278,44.096328,50.961448
2654,2022-07-21,61.259998,61.880001,60.790001,61.360001,61.360001,11959600,167.990005,169.410004,167.559998,...,15.573779,21.742480,173.320007,165.330002,39.799631,45.223086,-84.426221,-60.200369,43.326662,51.584722
2655,2022-07-22,61.380001,61.869999,61.320000,61.590000,61.590000,11637700,169.139999,170.570007,168.490005,...,23.598802,16.592870,173.320007,165.330002,53.566907,43.345753,-76.401198,-46.433093,45.024341,54.334929

In [48]:
# KO_PEP.to_csv('KO_PEP.csv')

# Import Macro Dataset

In [49]:
df_macro = pd.read_csv('macro_data.csv',index_col=[0])
df_macro['dt'] = pd.to_datetime(df_macro['dt'])
df_macro.dtypes

dt              datetime64[ns]
S&P                    float64
gdp                    float64
M2SL                   float64
FEDFUNDS               float64
DGS3MO                 float64
DGS6MO                 float64
DGS10                  float64
BAMLH0A0HYM2           float64
CPI                    float64
PPIACO                 float64
PAYEMS                 float64
UNRATE                 float64
UMCSENT                float64
dtype: object

In [50]:
df_macro.head()

,dt,S&P,gdp,M2SL,FEDFUNDS,DGS3MO,DGS6MO,DGS10,BAMLH0A0HYM2,CPI,PPIACO,PAYEMS,UNRATE,UMCSENT
13687,2012-07-16,1353.64,16319.54,10051.8,0.16,0.10,0.14,1.50,6.39,96.444559,96.444559,134159.0,8.2,72.3
13688,2012-07-17,1363.67,16319.54,10051.8,0.16,0.10,0.14,1.53,6.36,96.444559,96.444559,134159.0,8.2,72.3
13689,2012-07-18,1372.78,16319.54,10051.8,0.16,0.09,0.14,1.52,6.33,96.444559,96.444559,134159.0,8.2,72.3
13690,2012-07-19,1376.51,16319.54,10051.8,0.16,0.09,0.14,1.54,6.25,96.444559,96.444559,134159.0,8.2,72.3
13691,2012-07-20,1362.66,16319.54,10051.8,0.16,0.09,0.14,1.49,6.28,96.444559,96.444559,134159.0,8.2,72.3

# Import Fundamental Datatset

In [51]:
df_PEP_fundamental = pd.read_csv('PEP_fundamentals.csv')
df_PEP_fundamental = df_PEP_fundamental.drop(['quarter-end'], axis =1)
df_PEP_fundamental['dt'] = pd.to_datetime(df_PEP_fundamental['dt'])

print(f'Shape: {df_PEP_fundamental.shape}')
print(df_PEP_fundamental.columns)

Shape: (40, 10)
Index(['dt', 'ticker', 'Sales', 'EBITDA', 'Net Debt', 'Return on Assets',
       'Return on Equity', 'EBITDA/Interest Expense',
       'Diluted Shares Outstanding', 'Dividend Yield (%)'],
      dtype='object')

In [52]:
df_PEP_fundamental

,dt,ticker,Sales,EBITDA,Net Debt,Return on Assets,Return on Equity,EBITDA/Interest Expense,Diluted Shares Outstanding,Dividend Yield (%)
0,2022-04-26,PEP,16202,2606.99998,33145,11.037755,63.236804,11.850000,1391,2.641440
1,2022-02-10,PEP,25248,3531.00000,36390,8.222564,51.652710,3.275510,1390,2.501767
2,2021-10-05,PEP,20187,3846.00000,34407,8.787069,55.465849,16.649351,1389,2.670444
3,2021-07-13,PEP,19214,3857.00000,36521,9.024243,59.071608,16.004149,1388,2.804862
4,2021-04-15,PEP,14821,2906.00000,37040,8.504362,54.691376,11.134100,1387,3.040892
5,2021-02-11,PEP,22455,3458.00000,36292,8.304902,50.424929,8.798982,1388,2.772990
6,2020-10-01,PEP,18091,3678.00000,34866,8.308700,50.999565,10.160221,1390,2.850245
7,2020-07-13,PEP,15945,3145.00000,35855,8.322753,51.809553,8.809524,1393,3.013566
8,2020-04-28,PEP,13881,2676.00000,29996,9.018987,52.329490,17.721854,1396,3.675551
9,2020-02-13,PEP,20640,3554.00000,27890,9.365217,49.918100,9.020305,1401,2.757380
10,2019-10-03,PEP,17188,3542.00000,28139,16.418227,101.593283,15.008475,1405,2.740773
11,2019-07-09,PEP,16450,3454.00000,28922,16.643370,106.387400,13.492188,1409,2.815867
12,2019-04-17,PEP,12884,2530.00000,27647,15.995882,100.338848,8.267974,1413,3.073227
13,2019-02-15,PEP,19524,3516.00000,21331,15.702241,98.516157,5.502347,1420,3.250725
14,2018-10-02,PEP,16485,3467.00000,21219,6.510405,41.991434,11.367213,1424,3.073443
15,2018-07-10,PEP,16090,3488.00000,22464,5.905932,40.834999,21.268293,1426,3.106124
16,2018-04-26,PEP,12562,2329.00000,22921,6.238619,43.488331,9.506122,1430,3.033443
17,2018-02-13,PEP,19526,3398.00000,19771,6.123838,44.186681,14.709957,1421,2.641344
18,2017-10-04,PEP,16240,3494.00000,20891,9.146758,53.813183,8.982005,1438,2.707754
19,2017-07-11,PEP,15710,3413.00000,22324,9.109011,55.297745,9.641243,1441,2.620657
20,2017-04-26,PEP,12049,2432.00000,22669,9.286440,59.223986,9.353846,1440,2.684624
21,2017-02-15,PEP,19515,3094.00000,20820,8.475223,54.991746,30.940000,1444,2.829017
22,2016-09-29,PEP,16028,3533.00000,20826,9.243458,50.999501,26.170370,1452,2.697692
23,2016-07-07,PEP,15396,3413.00000,22242,7.155815,36.298111,12.928030,1456,2.768367
24,2016-04-18,PEP,11862,2476.00000,22942,7.393085,38.265382,7.786164,1459,2.774213
25,2016-02-11,PEP,18584,3181.00000,21275,7.473049,37.137700,13.890830,1470,2.747663
26,2015-10-06,PEP,16331,3475.00000,21164,6.710204,27.619621,14.419087,1483,2.986142
27,2015-07-09,PEP,15921,3486.00000,21879,8.539900,32.761350,13.007463,1491,2.845637
28,2015-04-23,PEP,12217,2362.00000,21870,8.860914,33.735314,57.609756,1503,2.748060
29,2015-02-11,PEP,19948,3188.00000,20171,8.481352,31.224681,23.441176,1514,2.609480
30,2014-10-09,PEP,17218,3593.00000,19836,8.830112,30.619309,28.291339,1525,2.664850
31,2014-07-23,PEP,16894,3605.00000,21549,8.720064,29.694342,17.585366,1532,2.703865
32,2014-04-17,PEP,12623,2391.00000,21986,9.003716,30.498183,12.261538,1540,2.763574
33,2014-02-13,PEP,20118,3393.00000,19961,8.509080,28.943809,10.875000,1552,2.708258
34,2013-10-16,PEP,16909,3467.00000,19990,8.829750,30.458548,21.805031,1561,2.788292
35,2013-07-24,PEP,16807,3574.00000,21371,8.920915,30.837740,17.693069,1567,2.654329
36,2013-04-18,PEP,12581,2240.00000,22389,8.181855,27.231508,16.470588,1563,2.733978
37,2013-02-14,PEP,19954,3242.00000,21740,8.174931,28.813955,12.233962,1564,3.127757
38,2012-10-17,PEP,16652,3427.00000,22232,7.941363,26.355074,16.881773,1575,2.919556
39,2012-07-25,PEP,16458,3336.00000,24139,8.144796,27.156657,14.959641,1581,2.997265

In [53]:
df_KO_fundamental = pd.read_csv('KO_fundamentals.csv')
df_KO_fundamental = df_KO_fundamental.drop(['quarter-end'], axis =1)
# df_KO_fundamental['quarter-end'] = pd.to_datetime(df_KO_fundamental['quarter-end'])
df_KO_fundamental['dt'] = pd.to_datetime(df_KO_fundamental['dt'])

print(f'Shape: {df_KO_fundamental.shape}')
print(df_KO_fundamental.columns)

Shape: (40, 10)
Index(['dt', 'ticker', 'Sales', 'EBITDA', 'Net Debt', 'Return on Assets',
       'Return on Equity', 'EBITDA/Interest Expense',
       'Diluted Shares Outstanding', 'Dividend Yield (%)'],
      dtype='object')

In [54]:
df_KO_fundamental

,dt,ticker,Sales,EBITDA,Net Debt,Return on Assets,Return on Equity,EBITDA/Interest Expense,Diluted Shares Outstanding,Dividend Yield (%)
0,2022-04-25,KO,10498,3599,31345,11.199791,45.606195,20.106145,4357,2.703992
1,2022-02-10,KO,9466,3136,31297,10.758051,46.200766,19.358025,4347,2.837359
2,2021-10-27,KO,10061,3374,26839,9.386016,43.215809,16.221154,4344,3.149755
3,2021-07-21,KO,10155,3595,28966,8.739581,40.666449,37.842105,4338,3.063861
4,2021-04-19,KO,9044,3174,32394,7.844309,37.478254,16.531250,4330,3.142259
5,2021-02-10,KO,8668,2394,33501,8.921158,40.475444,8.341463,4329,2.990518
6,2020-10-22,KO,8671,3009,31739,9.027338,44.657020,4.708920,4321,3.345649
7,2020-07-21,KO,7109,2412,32517,9.950998,51.529511,9.312741,4316,3.718155
8,2020-04-21,KO,8581,3055,32727,10.985962,55.815897,16.164021,4325,3.760804
9,2020-01-30,KO,9079,2640,32980,10.519054,49.607919,12.571429,4322,2.890696
10,2019-10-18,KO,9497,3028,30817,8.889909,41.907131,13.578475,4321,2.927638
11,2019-07-23,KO,9998,3400,33067,7.834556,38.543721,15.044248,4305,3.102907
12,2019-04-23,KO,8699,2743,33587,7.426127,36.117285,11.672340,4306,3.350405
13,2019-02-14,KO,7778,3067,28099,7.469961,37.535606,13.106838,4304,3.294615
14,2018-10-30,KO,8724,2783,25990,3.008027,13.213481,13.509709,4295,3.334055
15,2018-07-25,KO,9348,3142,27447,2.473180,11.085210,13.780702,4290,3.465572
16,2018-04-24,KO,7618,2598,27574,1.398503,6.072589,12.611650,4306,3.453834
17,2018-02-16,KO,7404,1772,27010,1.309615,5.715852,9.087179,4261,3.225806
18,2017-10-25,KO,8955,2621,21743,4.933800,18.881627,13.039801,4320,3.243724
19,2017-07-26,KO,9595,3041,22414,4.479594,17.060734,13.698198,4327,3.210702
20,2017-04-25,KO,9024,2433,22244,6.824360,26.055660,14.063584,4334,3.345900
21,2017-02-09,KO,9265,2181,23508,7.360047,26.851242,12.680233,4345,3.376749
22,2016-10-26,KO,10500,2689,21655,7.718191,27.679616,14.774725,4364,3.260870
23,2016-07-27,KO,11401,3377,23973,8.119084,27.670511,20.591463,4377,3.014184
24,2016-04-20,KO,10168,2746,24623,7.984463,27.076706,16.542169,4382,2.861414
25,2016-02-09,KO,9848,2289,24313,8.072877,26.312775,17.210526,4390,3.072626
26,2015-10-21,KO,11232,3065,23412,7.272266,23.148055,23.219697,4399,3.206239
27,2015-07-22,KO,11974,3479,23367,7.987219,24.161052,27.832000,4408,3.216004
28,2015-04-22,KO,10585,2893,22461,7.718933,22.884650,6.400442,4422,3.060472
29,2015-02-10,KO,10846,2696,20070,7.796659,22.358370,18.093960,4437,2.889626
30,2014-10-21,KO,11960,3306,18096,8.654830,24.520675,27.322314,4445,2.831754
31,2014-07-22,KO,12560,3789,18634,9.049730,25.254171,32.663793,4454,2.773169
32,2014-04-15,KO,10565,2850,19008,9.404748,25.952651,22.619048,4464,2.939666
33,2014-02-18,KO,11007,2249,16811,9.741870,26.026712,17.434109,4482,2.711208
34,2013-10-15,KO,11977,3227,15748,9.926968,26.751553,33.614583,4498,2.851563
35,2013-07-16,KO,12692,3857,16473,9.852284,26.682379,35.712963,4527,2.667664
36,2013-04-16,KO,11018,3036,16690,10.114478,26.696070,27.853211,4530,2.584075
37,2013-02-12,KO,11472,3030,16059,10.856586,27.998448,27.798165,4557,2.813793
38,2012-10-16,KO,12343,3334,14647,10.459185,26.519520,30.036036,4587,2.636436
39,2012-07-17,KO,13083,3948,15516,10.550778,25.862248,36.220183,4592,2.506714

In [55]:
df_fundamental = pd.concat([df_KO_fundamental,df_PEP_fundamental], axis =1)
df_fundamental = df_KO_fundamental.set_index('dt').join(df_PEP_fundamental.set_index('dt'), how = 'outer',lsuffix='_KO', rsuffix='_PEP')

df_fundamental['TTL_Sales_KO'] = df_fundamental['Sales_KO'].dropna().rolling(4).sum()
df_fundamental['TTL_Sales_PEP'] = df_fundamental['Sales_PEP'].dropna().rolling(4).sum()
df_fundamental['TTL_EBITDA_KO'] = df_fundamental['EBITDA_KO'].dropna().rolling(4).sum()
df_fundamental['TTL_EBITDA_PEP'] = df_fundamental['EBITDA_PEP'].dropna().rolling(4).sum()
df_fundamental

,ticker_KO,Sales_KO,EBITDA_KO,Net Debt_KO,Return on Assets_KO,Return on Equity_KO,EBITDA/Interest Expense_KO,Diluted Shares Outstanding_KO,Dividend Yield (%)_KO,ticker_PEP,...,Net Debt_PEP,Return on Assets_PEP,Return on Equity_PEP,EBITDA/Interest Expense_PEP,Diluted Shares Outstanding_PEP,Dividend Yield (%)_PEP,TTL_Sales_KO,TTL_Sales_PEP,TTL_EBITDA_KO,TTL_EBITDA_PEP
dt,,,,,,,,,,,,,,,,,,,,,
2012-07-17,KO,13083.0,3948.0,15516.0,10.550778,25.862248,36.220183,4592.0,2.506714,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PEP,...,24139.0,8.144796,27.156657,14.959641,1581.0,2.997265,NaN,NaN,NaN,NaN
2012-10-16,KO,12343.0,3334.0,14647.0,10.459185,26.519520,30.036036,4587.0,2.636436,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PEP,...,22232.0,7.941363,26.355074,16.881773,1575.0,2.919556,NaN,NaN,NaN,NaN
2013-02-12,KO,11472.0,3030.0,16059.0,10.856586,27.998448,27.798165,4557.0,2.813793,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PEP,...,34407.0,8.787069,55.465849,16.649351,1389.0,2.670444,NaN,76677.0,NaN,14067.00000
2021-10-27,KO,10061.0,3374.0,26839.0,9.386016,43.215809,16.221154,4344.0,3.149755,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37928.0,NaN,12537.0,NaN
2022-02-10,KO,9466.0,3136.0,31297.0,10.758051,46.200766,19.358025,4347.0,2.837359,PEP,...,36390.0,8.222564,51.652710,3.275510,1390.0,2.501767,38726.0,79470.0,13279.0,14140.00000
2022-04-25,KO,10498.0,3599.0,31345.0,11.199791,45.606195,20.106145,4357.0,2.703992,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40180.0,NaN,13704.0,NaN
2022-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PEP,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,NaN,80851.0,NaN,13840.99998

In [56]:
df_fundamental = df_fundamental.ffill().dropna()
df_fundamental= df_fundamental.reset_index()
df_fundamental

,dt,ticker_KO,Sales_KO,EBITDA_KO,Net Debt_KO,Return on Assets_KO,Return on Equity_KO,EBITDA/Interest Expense_KO,Diluted Shares Outstanding_KO,Dividend Yield (%)_KO,...,Net Debt_PEP,Return on Assets_PEP,Return on Equity_PEP,EBITDA/Interest Expense_PEP,Diluted Shares Outstanding_PEP,Dividend Yield (%)_PEP,TTL_Sales_KO,TTL_Sales_PEP,TTL_EBITDA_KO,TTL_EBITDA_PEP
0,2013-04-18,KO,11018.0,3036.0,16690.0,10.114478,26.696070,27.853211,4530.0,2.584075,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47916.0,65645.0,13348.0,12245.00000
1,2013-07-16,KO,12692.0,3857.0,16473.0,9.852284,26.682379,35.712963,4527.0,2.667664,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47525.0,65645.0,13257.0,12245.00000
2,2013-07-24,KO,12692.0,3857.0,16473.0,9.852284,26.682379,35.712963,4527.0,2.667664,...,21371.0,8.920915,30.837740,17.693069,1567.0,2.654329,47525.0,65994.0,13257.0,12483.00000
3,2013-10-15,KO,11977.0,3227.0,15748.0,9.926968,26.751553,33.614583,4498.0,2.851563,...,21371.0,8.920915,30.837740,17.693069,1567.0,2.654329,47159.0,65994.0,13150.0,12483.00000
4,2013-10-16,KO,11977.0,3227.0,15748.0,9.926968,26.751553,33.614583,4498.0,2.851563,...,19990.0,8.829750,30.458548,21.805031,1561.0,2.788292,47159.0,66251.0,13150.0,12523.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2021-10-05,KO,10155.0,3595.0,28966.0,8.739581,40.666449,37.842105,4338.0,3.063861,...,34407.0,8.787069,55.465849,16.649351,1389.0,2.670444,36538.0,76677.0,12172.0,14067.00000
68,2021-10-27,KO,10061.0,3374.0,26839.0,9.386016,43.215809,16.221154,4344.0,3.149755,...,34407.0,8.787069,55.465849,16.649351,1389.0,2.670444,37928.0,76677.0,12537.0,14067.00000
69,2022-02-10,KO,9466.0,3136.0,31297.0,10.758051,46.200766,19.358025,4347.0,2.837359,...,36390.0,8.222564,51.652710,3.275510,1390.0,2.501767,38726.0,79470.0,13279.0,14140.00000
70,2022-04-25,KO,10498.0,3599.0,31345.0,11.199791,45.606195,20.106145,4357.0,2.703992,...,36390.0,8.222564,51.652710,3.275510,1390.0,2.501767,40180.0,79470.0,13704.0,14140.00000
71,2022-04-26,KO,10498.0,3599.0,31345.0,11.199791,45.606195,20.106145,4357.0,2.703992,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,40180.0,80851.0,13704.0,13840.99998

# Join Datasets

In [57]:
dfs = [KO_PEP, df_macro, df_fundamental]

df = ft.reduce(lambda left, right: pd.merge(left, right, on='dt', how='outer'), dfs)
df = df.sort_values(by='dt', ascending=True)
df.set_index('dt', inplace=True)
df = df.ffill().dropna()
df.drop(columns = ['ticker_KO', 'ticker_PEP'], inplace=True)
df.to_csv('combined_dataset.csv')

In [58]:
df

,KO_Open,KO_High,KO_Low,KO_Close,KO_AdjClose,KO_Volume,PEP_Open,PEP_High,PEP_Low,PEP_Close,...,Net Debt_PEP,Return on Assets_PEP,Return on Equity_PEP,EBITDA/Interest Expense_PEP,Diluted Shares Outstanding_PEP,Dividend Yield (%)_PEP,TTL_Sales_KO,TTL_Sales_PEP,TTL_EBITDA_KO,TTL_EBITDA_PEP
dt,,,,,,,,,,,,,,,,,,,,,
2013-04-18,42.480000,42.650002,42.090000,42.099998,31.403154,16034200.0,80.209999,83.449997,80.110001,81.250000,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47916.0,65645.0,13348.0,12245.00000
2013-04-19,42.279999,42.770000,42.200001,42.660000,31.820896,13875800.0,82.010002,83.269997,81.870003,82.769997,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47916.0,65645.0,13348.0,12245.00000
2013-04-22,42.520000,42.849998,42.400002,42.720001,31.865646,10544100.0,82.290001,83.629997,82.050003,83.379997,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47916.0,65645.0,13348.0,12245.00000
2013-04-23,42.779999,42.959999,42.259998,42.700001,31.850733,11216200.0,83.669998,84.320000,83.500000,84.099998,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47916.0,65645.0,13348.0,12245.00000
2013-04-24,42.639999,42.900002,42.099998,42.150002,31.440472,11368200.0,84.059998,84.290001,82.220001,82.339996,...,22389.0,8.181855,27.231508,16.470588,1563.0,2.733978,47916.0,65645.0,13348.0,12245.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18,62.520000,62.560001,61.509998,61.650002,61.650002,10780800.0,171.149994,171.240005,167.850006,168.259995,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,40180.0,80851.0,13704.0,13840.99998
2022-07-19,62.090000,62.650002,61.930000,62.529999,62.529999,10998200.0,170.250000,170.750000,168.630005,170.059998,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,40180.0,80851.0,13704.0,13840.99998
2022-07-20,62.400002,62.580002,61.150002,61.500000,61.500000,11010500.0,170.050003,170.570007,167.460007,168.259995,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,40180.0,80851.0,13704.0,13840.99998
2022-07-21,61.259998,61.880001,60.790001,61.360001,61.360001,11959600.0,167.990005,169.410004,167.559998,168.509995,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,40180.0,80851.0,13704.0,13840.99998
2022-07-22,61.380001,61.869999,61.320000,61.590000,61.590000,11637700.0,169.139999,170.570007,168.490005,169.610001,...,33145.0,11.037755,63.236804,11.850000,1391.0,2.641440,40180.0,80851.0,13704.0,13840.99998

In [59]:
# from pandas import read_csv
# from sklearn.preprocessing import StandardScaler
# from math import sqrt
# plt.figure(figsize = (15,8))

# std_scaler = StandardScaler() 
# df_scaled = std_scaler.fit_transform(df_fundamental.to_numpy())
# df_scaled
# df_scaled = pd.DataFrame(df_scaled, columns=['Sales_KO', 'EBITDA_KO', 'Net Debt_KO', 'Return on Assets_KO',
#        'Return on Equity_KO', 'EBITDA/Interest Expense_KO',
#        'Diluted Shares Outstanding_KO', 'Dividend Yield (%)_KO', 'Sales_PEP',
#        'EBITDA_PEP', 'Net Debt_PEP', 'Return on Assets_PEP',
#        'Return on Equity_PEP', 'EBITDA/Interest Expense_PEP',
#        'Diluted Shares Outstanding_PEP', 'Dividend Yield (%)_PEP',
#        'TTL_Sales_KO', 'TTL_Sales_PEP', 'TTL_EBITDA_KO', 'TTL_EBITDA_PEP',
#        'KO_price', 'PEP_price', 'SPY'])
# df_scaled